@import "variables.scss";

.comment__wrap {
  padding: 40px 0 35px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 14px 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0;

    &::before {
      content: "";
        position: absolute;
        width: 100%;
        height: 150px;
        top: 30px;
        background: url("../img/icon-quotes.svg") no-repeat;
        background-position: 50% 50px;
    }
  }
}

.comment__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 20% 0 20%;
    padding-top: 195px;
  }
}

.comment__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-top: 33px;
    order: 2;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.comment__text {
  margin: 0;
  padding: 14px 20px 2px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 1;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px;
  }
}

.comment__span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    font-size: 18px;
  }
}

.commet__controls {
  margin: 24px 35% 3px;

  @media (min-width: $tablet-width) {
    margin: 29px 43% 3px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.commet__buttom {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    fill: #bec2c7;

    &:hover {
      fill: #7e868f;
    }

    &:active,
    &:focus {
      fill: #e9ebec;
    }
  }
}

.commet__buttom--left {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 59%;
    left: 10%;
  }
}

.commet__buttom--right {
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 59%;
    right: 10.5%;
  }
}
