@import "variables.scss";

.feedback__wrap {
  margin-top: 43px;

  @media (min-width: $desktop-width) {
    margin-top: 71px;
  }
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
}

.feedback__list {
  display: flex;
  flex-direction: column;
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    width: 100%;
  }
}

.feedback__item {
  padding: 0 0 23px 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.feedback__item--phone {
  @media (min-width: $desktop-width) {
    padding-left: 139px;
    order: 1;
  }
}

.feedback__item--email {
  padding-bottom: 28px;

  @media (min-width: $desktop-width) {
    padding: 0 113px 0 0;
    order: 3;
  }
}

.feedback__item--address {
  @media (min-width: $tablet-width) {
    margin: 22px 0 0 25%;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0 23px 0 35px;
    order: 2;
  }
}

.feedback__headline {
  padding: 0 25px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-weight: lighter;
  font-family: "Open Sans Light", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    padding: 0 30px 9px;
    font-size: 40px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 227px;
    font-size: 50px;
    line-height: 54px;
  }
}

.feedback__title {
  padding: 0 0 6px 0;
  font-size: 18px;
  line-height: 18px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 0 9px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    padding: 11px 0 12px 0;
  }
}

.feedback__text {
  margin: 0;
  padding-left: 7px;
  font-size: 24px;
  line-height: 28px;
  font-family: "Open Sans Light", "Arial", sans-serif;
  color: #d22856;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 28px;
  }
}

.feedback__text--phone {
  @media (min-width: $tablet-width) {
    padding: 1px 27px 0 14px;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 0 0 0;
  }
}

.feedback__text--email {
  text-decoration: none;
  padding: 1px 35px 0 40px;

  &:hover {
    color: #283645;
    text-decoration: underline;
  }

  &:active,
  &:focus {
    color: #ced0d2;
    text-decoration: none;
  }

  @media (min-width: $tablet-width) {
    padding: 1px 49px 0 39px;
  }

  @media (min-width: $desktop-width) {
    padding: 1px 13px 0;
  }
}

.feedback__text--address {
  padding: 1px 39px 0 39px;

  @media (min-width: $tablet-width) {
    padding: 1px 18px 0 14px;
  }
}
