@import "variables.scss";

.page-footer__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0 120px;
  }
}

.page-footer__wrap--idex {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
    padding: 0 120px 0 109px;
  }
}

.page-footer__wrap--form {
  @media (min-width: $desktop-width) {
    margin: -20px auto 50px auto;
    padding: 0 122px 0 110px;
  }
}

.page-footer__link {
  margin-top: 41px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 30%;
    padding: 0 105px 0 0;
  }
}

.page-footer__link--photo {
  @media (min-width: $desktop-width) {
    padding-right: 123px;
  }
}

.page-footer__pic {
  width: auto;
}


.page-footer__form {
  @media (min-width: $desktop-width) {
    margin: 0 0 0 0;
  }
}
