@import "variables.scss";

.page-header {
  background: #283645;

  @media (min-width: $desktop-width) {
    background: none;
  }
}

.page-header__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #283645;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 120px;
    height: 110px;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    font-weight: normal;
    background-color: rgba(40, 54, 69, 0.6);
    z-index: 2;
  }
}

.page-header__link {
  display: flex;
  padding: 17px 0 21px 19px;
  min-height: 62px;
  align-items: center;
  border-bottom: solid #000000 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $tablet-width) {
    padding: 20px 0 32px 20px;
    min-height: 110px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 102px;
    padding: 0 0 13px 10px;
  }
}

.peage-header__logo {
  @media (min-width: $desktop-width) {
    width: 146px;
    height: 40px;
  }
}

.page-header__button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 13px;
  right: 17px;
  font-size: 0;
  fill: #ffffff;
  background-color: inherit;
  border: none;
  cursor: pointer;

  &:hover {
    fill: #d22856;
  }

  &:focus,
  &:active {
    fill: #431120;
  }

  @media (min-width: $tablet-width) {
    top: 43px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__button--no-js {
  display: none;
}

.header-nav {
  width: 100%;

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.header-nav__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 20px;
  }
}

.header-nav__item {
  padding: 16px 0 15px 0;
  min-height: 61px;
  text-align: center;
  border-bottom: solid #000000 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-width) {
    border: none;
    box-shadow: none;
    width: 25%;
  }
}

.header-nav__item:last-child {
  @media (min-width: $desktop-width) {
    padding: 16px 0 0 22px;
  }
}

.header-nav__link {
  text-decoration: none;
  color: inherit;
}

.header-nav__link[href] {
  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
