.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 10;

  @media (min-width: $tablet-width) {
    width: 460px;
    border-radius: 5px;
  }
}

.popup--success {
  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.popup__body {
  padding: 40px 20px 0;
}

.popup__body--success {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 36px 70px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 160px 39px;
  }
}

.popup__body--error {
  @media (min-width: $tablet-width) {
    padding: 36px 80px 0;
  }
}

.popup__title {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 40px;
  }
}

.popup__text {
  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.popup__footer {
  padding: 38px 20px 50px;

  @media (min-width: $tablet-width) {
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 0 0 5px 5px;
  }
}

.popup__footer--success {
  padding-top: 48px;
  padding-bottom: 52px;
  background-color: #f2f2f2;

  @media (min-width: $desktop-width) {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.popup__footer--error {
  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
  }
}

.popup__button {
  width: 100%;
  text-transform: uppercase;
  background-color: #2aab6d;
  color: #ffffff;
  border-radius: 0;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:disabled {
    background-color: #e5e5e5;
  }

  &:active,
  &:focus {
    color: #61b98f;
  }
}
