@import "variables.scss";

.research {
  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.research__wrap {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 54px;
    padding-bottom: 30px;
  }
}

.research__pic {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-left: 1px;
    margin-right: 71px;
    width: 45%;
    height: 276px;

    &::before {
      content: "24";
      position: absolute;
      padding: 7px 33px 17px 32px;
      top: 55px;
      left: 15%;
      vertical-align: top;
      font-size: 96px;
      font-weight: 700;
      line-height: 150px;
      color: #d22856;
      border: 15px solid #d22856;
      border-radius: 50%;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 238px;
      height: 276px;
      left: 9%;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-size: 238px 276px;
      background-position: left top;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 197px;
    width: 298px;
    height: 345px;

    &::before {
      padding: 9px 41px 24px;
      top: 44px;
      left: 150px;
      font-size: 120px;
      line-height: 186px;
      border: 17px solid #d22856;
      border-radius: 50%;
    }

    &::after {
      width: 298px;
      height: 345px;
      top: -27px;
      left: 128px;
      background-size: 298px 345px;
    }
  }
}

.research__text {
  @media (min-width: $tablet-width) {
    margin-top: 37px;
    width: 57%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
  }
}

.research__title {
  padding: 0 171px 10px 0;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;

  @media (min-width: $desktop-width) {
    letter-spacing: 0;
  }
}

.research__paragraph {
  margin: 0;
  padding: 0 21px 10px 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding: 0 135px 10px 0;
    margin-top: 12px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__link {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
  text-decoration: underline;

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    display: block;
    font-size: 18px;
    line-height: 30px;
  }
}
