@import "variables.scss";

.video {
  background-color: #f2f2f2;
}

.video__wrap {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
    padding: 20px 20px 50px 20px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.video__banner {
  @media (min-width: $tablet-width) {
    margin-top: 38px;
    width: 87%;
  }

  @media (min-width: $desktop-width) {
    margin: 37px 0 0 60px;
    width: 33.5%;
  }
}

.video__container {
  @media (min-width: $desktop-width) {
    padding: 0 0 0 40px;
    width: 60%;
  }
}

.video__list {
  display: flex;
  justify-content: space-around;
  margin: 35px 27px 0 17px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    margin: 38px 0 0 48px;
    height: 50%;
  }
}

.video__item {
  @media (min-width: $tablet-width) {
    margin: 8px 0 36px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 21px 0;
  }
}

.video__item--crop {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    left: -55px;
    bottom: -68px;
    background-color: #dddfe0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.video__item--fill {
  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 0 10px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 6px 0;
  }
}

.video__item--contrast {
  margin-top: 8px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: -4px 0 0 5px;
    padding: 0 0 10px 0;
  }
}

.video__line {
  @media (min-width: $tablet-width) {
    position: absolute;
    height: 2px;
    background-color: #283645;
  }
}

.video__line--crop {
  position: absolute;
  width: 240px;
  height: 2px;
  top: 84px;
  left: -15px;
  background-color: #283645;

  @media (min-width: $tablet-width) {
    width: 202px;
    top: 11px;
    left: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    top: 19px;
    left: 94px;
  }
}

.video__line--fill {
  @media (min-width: $tablet-width) {
    width: 202px;
    top: 10px;
    left: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    top: 19px;
    left: 94px;
  }
}

.video__line--contrast {
  @media (min-width: $tablet-width) {
    width: 202px;
    top: 8px;
    left: 47px;
  }

  @media (min-width: $desktop-width) {
    width: 290px;
    top: 15px;
    left: 87px;
  }
}

.video__slider {
  &:hover,
  &:active,
  &:focus {
    background-color: #d22856;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid #d22856 2px;
    background-color: #ffffff;
    z-index: 2;
    cursor: pointer;
  }
}

.video__slider--crop {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 78px;
  right: -144px;
  border-radius: 50%;
  border: solid #d22856 2px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    top: 5px;
    right: 61px;
  }

  @media (min-width: $desktop-width) {
    top: 12px;
    left: 164px;
  }
}

.video__slider--fill {
  @media (min-width: $tablet-width) {
    top: 3px;
    left: 77px;
  }

  @media (min-width: $desktop-width) {
    top: 14px;
    left: 341px;
  }
}

.video__slider--contrast {
  @media (min-width: $tablet-width) {
    top: 2px;
    left: 144px;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    left: 248px;
  }
}

.video__pic {
  fill: #b5b9be;

  &:hover {
    fill: #8d949b;
  }

  &:active {
    fill: #d22856;
  }

  @media (min-width: $tablet-width) {
    width: 25px;
    height: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 46px;
    height: 46px;
    fill: #d22856;
  }
}

.video__pic--contrast {
  @media (min-width: $tablet-width) {
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 34px;
    height: 34px;
  }
}

.video__pic--active {
  fill: #d22856;
}

.video__controls {
  margin: 105px 0 14px 0;

  @media (min-width: $tablet-width) {
    margin: 44px 0 14px 48px;
  }

  @media (min-width: $desktop-width) {
    margin: 122px 0 14px 48px;
  }
}

.video__button {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    height: 55px;
  }
}

.video__button--active {
  background-color: #ffffff;
  color: #d22856;
  border: solid #d22856 2px;

  &:hover {
    color: #ffffff;
    background-color: #d22856;
  }

  &:focus,
  &:active {
    color: #e06989;
    background-color: #d22856;
  }

  @media (min-width: $desktop-width) {
    margin-right: 39px;
  }
}

.video__button--disabled {
  background-color: #ffffff;
  color: #dddfe0;
  border: solid #dddfe0 2px;

  &:hover {
    color: #b5b9be;
    border-color: #b5b9be;
  }

  &:focus,
  &:active {
    color: #cbced2;
    background-color: #b5b9be;
  }
}
