.advantage__wrap {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}

.advantage__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.advantage__text {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}

.advantage__pic {
  height: 310px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position: center -360%;
}
