.app__wrap {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background-color: #283645;
  color: #ffffff;
}

.app__button {
  width: 280px;
  height: 56px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bolder;
  color: #ffffff;
  border: solid #ffffff 2px;
  border-radius: 30px;
  background-color: inherit;
}

.app__list {
  display: flex;
  justify-content: space-around;
}

.app__text {
  padding: 0 20px;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}
