@import "variables.scss";

.comment__wrap {
  padding: 45px 0 0 0;
}

.comment__background {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 150px;
    background: url("../img/icon-quotes.svg") no-repeat;
    background-position: 50% 63px;
  }
}

.comment__item {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 28px 20% 0 20%;
  }
}

.comment__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    order: 2;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.comment__text {
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    order: 1;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px;
  }
}

.comment__span {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 3;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}
