.comment__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.comment__text {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
}
