.feedback__wrap {
  height: 645px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;
}

.feedback__headline {
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter;
}

.feedback__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.feedback__text {
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter;
  color: #d22856;
}
