@import "variables.scss";

.feedback__wrap {
  height: 645px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat;

  @media (min-width: $tablet-width) {
    height: 782px;
  }
}

.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: #ffffff;
}

.feedback__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.feedback__item {
  @media (min-width: $tablet-width) {
    width: 45%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
  }
}

.feedback__item--address {
  @media (min-width: $tablet-width) {
    margin-left: 25%;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.feedback__headline {
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter;
  font-family: "Open Sans Light", "Arial", sans-serif;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.feedback__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
}

.feedback__text {
  font-size: 24px;
  line-height: 24px;
  font-weight: lighter;
  color: #d22856;
  text-align: center;
}
