@import "variables.scss";

.lottery__text {
  padding: 46px 20px 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    padding: 91px 78px 0 78px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
    padding: 91px 220px 0 220px;
  }
}

.lottery__pharagraf {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.lottery__span {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}
