.page-header__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #283645;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header__button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0;
  width: 30px;
  height: 30px;
  background: url("../img/icon-menu-cross.svg") no-repeat center;
  border: none;
  cursor: pointer;
}

.header-nav__wrap {
  display: flex;
  flex-direction: column;
}

.header-nav__item {
  padding-top: 16px;
  min-height: 61px;
  text-align: center;
  border-bottom: solid #000000 1px;
}

.header-nav__link {
  text-decoration: none;
  color: inherit;
}
