.page-footer__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 20px 0 20px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    padding: 0 120px;
  }
}

.page-footer__wrap--idex {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.page-footer__link {
  @media (min-width: $tablet-width) {
    padding: 0 0 10px 10px;
  }
}

.social {
  display: flex;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

.social__item {
  margin-right: 14px;
  margin-left: 0;
}

.social__link {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid #e9ebec 2px;

  &:hover {
    border: solid #283645 2px;
  }

  &:active {
    border: solid #e9ebec 2px;
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    background-position: center;
  }
}

.social__pic {
  position: absolute;
  fill: #d22856;

  &:active {
    fill: #f1becc;
  }
}

.social__pic--tw {
  top: 18px;
  left: 16px;
}

.social__pic--fb {
  top: 14px;
  left: 20px;
}

.social__pic--yt {
  top: 18px;
  left: 18px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  @media (min-width: $tablet-width) {
    padding: 5px 10px 0 0;
    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 0 12px 0 0;
  }
}

.copyright__link {
  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }
}

.copyright__pic {
  fill: #d22856;

  &:hover {
    fill: #283645;
  }

  &:active {
    fill: #bec2c7;
  }
}
