.page-footer__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.page-footer__wrap--idex {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.social {
  display: flex;
}

.social__link {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid #e9ebec 2px;
}

.social__link--tw {
  background: url("../img/icon-twitter.svg") no-repeat center;
  background-size: 45%;
}

.social__link--fb {
  background: url("../img/icon-facebook.svg") no-repeat center;
  background-size: 25%;
}

.social__link--yt {
  background: url("../img/icon-youtube.svg") no-repeat center;
  background-size: 45%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
