@import "variables.scss";

.page-header__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #283645;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0 auto;
    padding: 0 120px;
    height: 110px;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    font-weight: normal;
    background-color: rgba(40, 54, 69, 0.6);
    z-index: 2;
  }
}

.page-header__link {
  display: flex;
  padding: 20px;
  align-items: center;
  min-height: 61px;
  border-bottom: solid #000000 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $tablet-width) {
    min-height: 112px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 160px;
  }
}

.page-header__button {
  position: absolute;
  top: 13px;
  right: 17px;
  font-size: 0;
  width: 30px;
  height: 30px;
  background: url("../img/icon-menu-cross.svg") no-repeat center;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 43px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-nav {
  width: 100%;

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.header-nav__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20px;
  }
}

.header-nav__item {
  padding: 16px 0 15px 0;
  min-height: 61px;
  text-align: center;
  border-bottom: solid #000000 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-width) {
    border: none;
    box-shadow: none;
    width: 25%;
  }
}

.header-nav__link {
  text-decoration: none;
  color: inherit;
}

.header-nav__link[href] {
  &:hover {
    color: #d22856;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.header-nav__link--index {
  @media (min-width: $desktop-width) {
    padding-right: 20px;
  }
}

.header-nav__link--photo {
  @media (min-width: $desktop-width) {
    padding-right: 20px;
  }
}

.header-nav__link--form {
  @media (min-width: $desktop-width) {
    padding-right: 10px;
  }
}

.header-nav__link--academy {
  @media (min-width: $desktop-width) {
    padding-left: 20px;
  }
}
