@import "variables.scss";

.photo__wrap {
  display: flex;
  flex-direction: column;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.photo__item {
  margin: 0 20px 20px 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    width: 50%;
  }
}

.photo__item--checked {
  margin: 0 0 20px 0;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.photo__item--title {
  padding: 42px 35px 51px 35px;
  margin: 0;
  text-align: center;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 91px 100px 80px 100px;
    width: 100%;
  }
}

.photo__item--conclusion {
  margin: 22px 0 0 0;
  text-align: center;
  background-color: #ffffff;
}

.photo__text {
  margin-bottom: 22px;
  padding: 13px 20px 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    background-color: #f2f2f2;
  }
}

.photo__text--checked {
  margin: -5px 20px 0 20px;
  padding: 13px 20px 22px 20px;
  background-color: #f2f2f2;
}

.photo__pharagraf {
  margin: 0;
  padding-right: 10px;
  font-size: 14px;
  line-height: 24px;
}

.photo__pharagraf--title {
  margin: 0;
  padding-right: 0;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.photo__pharagraf--name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
}

.photo__pharagraf--conclusion:last-child {
  padding: 3px 0 42px 0;
  line-height: 30px;
}

.photo__button {
  padding: 8px 0 0 30px;
  position: relative;
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  color: #d22856;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 13px;
    height: 13px;
    background: url("../img/icon-heart.svg") no-repeat;
  }
}

.photo__span {
  font-family: "Open Sans Light", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}
