@import "variables.scss";

.research__wrap {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 54px;
  }
}

.research__pic {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-left: 1px;
    margin-right: 71px;
    width: 45%;
    height: 276px;

    &::before {
      content: "24";
      position: absolute;
      vertical-align: top;
      top: 55px;
      left: 15%;
      font-size: 96px;
      font-weight: 700;
      line-height: 150px;
      color: #d22856;
      border: 15px solid #d22856;
      border-radius: 50%;
      padding: 7px 33px 17px 32px;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      width: 238px;
      height: 276px;
      left: 9%;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-size: 238px 276px;
      background-position: left top;
    }
  }
}

.research__text {
  @media (min-width: $tablet-width) {
    margin-top: 40px;
    width: 57%;
  }
}

.research__title {
  padding: 0 171px 10px 0;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  color: #000000;
}

.research__paragraph {
  margin: 0;
  padding: 0 21px 10px 0;
  font-size: 14px;
  line-height: 24px;
}

.research__link {
  font-size: 14px;
  line-height: 24px;
  color: #d22856;
  text-decoration: underline;
}
