.tariff__name {
  background: #283645;
  color: #ffffff;
  text-align: center;
}

.tariff__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.tariff__span {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}

.tariff__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.tariff__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
}

.tariff__item::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  right: 30px;
}

.tariff__item--enable::after {
  background: url("../img/icon-yes.svg") no-repeat center;
  background-size: 120%;
}

.tariff__item--disable::after {
  background: url("../img/icon-no.svg") no-repeat center;
}
